.container.m-t-3
  .row
    .col-sm-6
      h5 About Page
      p
        | Pellentesque nec urna purus. Nunc ut imperdiet velit. Proin 
        | consequat mi erat, sit amet rutrum neque ornare a. Donec euismod 
        | nunc et augue fermentum lobortis. Aliquam sed diam a libero 
        | dignissim volutpat nec a eros.
