.container.m-t-3
  .row
    .col-sm-6
      h5 Home Page
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Duis volutpat aliquam risus. Nullam mattis turpis vitae mi 
        | convallis dapibus. Maecenas laoreet leo risus, vulputate 
        | venenatis massa bibendum non. Morbi ultrices turpis eget 
        | mi egestas, id ullamcorper nisl feugiat. Fusce accumsan est purus, 
        | porttitor semper nisi feugiat eget.
