.container
  
  .page-header.m-y-2
    h1 {{ title }}
  
  nav.nav.nav-inline
    a.nav-link([routerLink]="['./Home']") Home
    a.nav-link([routerLink]="['./About']") About
      
main
  router-outlet

footer.footer
  .container
    my-version.text-muted
