doctype html
head
  title Angular 2 Seed
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='vendor.css')
  link(rel='stylesheet', href='app.css')
body
  seed-app Loading...
  script(src='vendor.js')
  script(sync, src='bootstrap.js')
